.addDeleteTask {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-top: 10px;

  .MuiPaper-root,
  .MuiCardContent-root {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
  }

  .MuiCardContent-root:last-child {
    padding-bottom: 0;
  }
  .MuiFormControl-root.MuiTextField-root {
    margin-right: 25px;
  }
  .MuiInput-root,
  label {
    min-width: 70px;
  }
  label {
    white-space: nowrap;
  }
  .deleteByName {
    display: flex;
    flex-direction: column;
  }
  .saveBtn,
  .deleteBtn {
    min-width: 110px;
    height: 40px;
    align-self: center;
  }
  .closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 10px;
    min-width: 32px !important;
  }

  .name {
    min-width: 180px;
  }

  .priority {
    min-width: 70px;
    width: 70px;
  }
  .description {
    width: 100%;
  }

  .MuiFormGroup-root {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.tableSearch {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.MuiTableCell-body {
  padding: 10px 16px !important;
}
